<!DOCTYPE html>
<html>
	<head>
<h1>UYSD Health Service</h1>
</head>
    <body>
      <style>
       table, th, td {
       border: 1px solid black;
       width:50%;
       }
     </style>

    <table>
      <tr>
        <th>Centre Type</th>
        <td>Medicare Centre</td>
      </tr>
      <tr>
        <th>Phone number</th>
        <td>93513484</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>Darlington</td>
      </tr>
      <tr>
        <th>ABN</th>
        <td>1115</td>
      </tr>
    </table>

<h2>Available Health Care Providers:</h3>

<form method="POST">
    <ul>
      <h3>
        <li> <a href="{{url_for('Michael')}}">Michael</a>
					   <button name="Book1"  type="submit">Book</button></li>
        <li> <a href="{{url_for('Gary')}}">Gary</a>
					   <button name="Book2"  type="submit">Book</button></li>
      </h3>
  </ul>

  <h2> Rate this centre:</h2>

    <h2>
      <button name="1"  type="submit">1</button>
      <button name="2"  type="submit">2</button>
      <button name="3"  type="submit">3</button>
      <button name="4"  type="submit">4</button>
      <button name="5"  type="submit">5</button>
    </h2>

		<h2> Current rating:</h2>

</form>
    </body>
</html>
